
$estilos: (
    color: blue,
    font-family: ('Roboto Mono',monospace),
    font-size : 2rem,
    );
    

header {
    width: 100%;
    max-width: 100%;
    border-bottom: 2px solid gray;
    padding: 2rem;

    img {
        width: auto;
        height: 8rem;
    }
    #navbarNav {
        justify-content: flex-end;
    }
    ul{
        li{
            
                color: map-get($estilos, color);
                font-family: map-get($estilos, font-family);
                font-size: map-get($estilos, font-size);
                &:hover {
                    border-bottom: 1px solid black;
                }
    }
}
}
