$font-title: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

main {
    margin-bottom: 2rem;
    h1 {
        font-size: 12rem;
        font-family: $font-title;
        text-align: center;
        text-shadow: 5px 5px 1px rgba(212, 212, 212, 0.658);
    }
    p {
        font-size: 2rem;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
}