.card:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.5s;

}

.card a {
    text-align: center;
}

.card img {
    height: 42em;
    width: 42em;
    /* display: block; */
    /* overflow: hidden; */
    padding: 20px;
    margin: 0 auto;

}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
}

.card p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 2rem;
}

.boton {
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    /* margin-bottom: 5px; */
}

#boton-tienda {
    margin-bottom: 5px;
}

.boton:hover {
    background: black;
    color: white;
    transition: 0.5s;
}

