/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .section__tour ul li {
    font-size: 1.5rem;
  }
  .section__tour button {
    font-size: 1.5rem;
  }
}
header {
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid gray;
  padding: 2rem;
}
header img {
  width: auto;
  height: 8rem;
}
header #navbarNav {
  justify-content: flex-end;
}
header ul li {
  color: blue;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
header ul li:hover {
  border-bottom: 1px solid black;
}

main {
  margin-bottom: 2rem;
}
main h1 {
  font-size: 12rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 1px rgba(212, 212, 212, 0.658);
}
main p {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
main img {
  max-width: 100%;
}

.item {
  background-position: top;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 32em;
}
.item:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  max-width: 100%;
  max-height: 100%;
}

/* FOTOS */
.item1 {
  background-image: url(../img/galeria/item1.jpg);
}

.item2 {
  background-image: url(../img/galeria/item2.jpg);
}

.item3 {
  background-image: url(../img/galeria/item3.jpg);
}

.item4 {
  background-image: url(../img/galeria/item4.jpg);
}

.item5 {
  background-image: url(../img/galeria/item5.jpg);
}

/* FOOTEER */
footer {
  text-align: center;
  border-top: 2px solid gray;
}
footer h4 {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  margin: 3rem;
}
footer ul {
  margin: 3rem;
}
footer ul li {
  display: inline;
  padding: 4px;
}
footer .footer__icono {
  text-decoration: none;
  font-size: 10rem;
  color: black;
}
footer .footer__icono:hover {
  transition: 1.5s;
}
footer #facebook:hover {
  color: blue;
}
footer #twitter:hover {
  color: rgb(29, 161, 242);
}
footer #instagram:hover {
  color: rgb(193, 53, 132);
}
footer #youtube:hover {
  color: red;
}

/* TOUR */
.section__tour {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  width: 75%;
  margin-top: 30px;
}
.section__tour ul li {
  font-family: "Roboto Mono", monospace;
  list-style: none;
  font-size: 2rem;
  text-align: center;
}
.section__tour button {
  padding: 0 3rem;
}

#tour__lugar {
  color: orangered;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .section__tour ul li {
    font-size: 1.5rem;
  }
  .section__tour button {
    font-size: 1.5rem;
  }
}
.card:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.card a {
  text-align: center;
}

.card img {
  height: 42em;
  width: 42em;
  /* display: block; */
  /* overflow: hidden; */
  padding: 20px;
  margin: 0 auto;
}

.card__texto {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}

.card p {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 2rem;
}

.boton {
  background: none;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  /* margin-bottom: 5px; */
}

#boton-tienda {
  margin-bottom: 5px;
}

.boton:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
form label {
  display: block;
  text-align: center;
}
form fieldset {
  border: none;
}
form input {
  text-align: center;
  width: 50%;
  height: 50%;
}
form input::placeholder {
  font-size: 2rem;
}
form input:hover {
  background: #eee;
  transition: 1s;
}
form textarea {
  font-size: 2rem;
}
form textarea:hover {
  background: #eee;
  transition: 1s;
}

.form-control {
  font-size: 2rem;
}

#input__enviar {
  border-bottom: none;
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  padding: 20px;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
}

#input__enviar:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
