/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

$font-title: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-texto : 'Roboto Mono',monospace;
$p-size: 2rem;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
h1 {
    font-size: 12em;
    font-family: $font-title;
    text-align: center;
    text-shadow: 5px 5px 1px rgba(212, 212, 212, 0.658);
}

.boton {
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    /* margin-bottom: 5px; */
}

.boton:hover {
    background: black;
    color: white;
    transition: 0.5s;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 8em;
    }
}


@import "sass/header";
@import "sass/home";
@import "sass/footer";
@import "sass/tour";
@import "sass/tienda";
@import "sass/contacto";