/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


$font-texto : 'Roboto Mono',monospace;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}













/* Main */
/* Home */



.item {


    background-position: top;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 32em;


}

.item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
    max-width: 100%;
    max-height: 100%;
}


/* FOTOS */

.item1 {
    background-image: url(../img/galeria/item1.jpg);
    grid-area: img1;
    /* grid-column: 1/2;
    grid-row:1/3; */
}

.item2 {
    background-image: url(../img/galeria/item2.jpg);
    grid-area: img2;
    /* background-position: center; */
    /* grid-column: 2/4;
    grid-row:1/3 */

}

.item3 {
    background-image: url(../img/galeria/item3.jpg);
    grid-area: img3;
    /* grid-column: 1/2;
    grid-row:3/3; */

}

.item4 {
    background-image: url(../img/galeria/item4.jpg);
    grid-area: img4;
    /* grid-column: 2/3;
    grid-row:3/3; */

}

.item5 {
    background-image: url(../img/galeria/item5.jpg);
    grid-area: img5;
    background-position: center;
    /* grid-column: 3/3;
    grid-row:3/3; */

}






/* MUSICA / TIENDA */




.card:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.5s;

}

.card a {
    text-align: center;
}

.card img {
    height: 42em;
    width: 42em;
    /* display: block; */
    /* overflow: hidden; */
    padding: 20px;
    margin: 0 auto;

}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
}

.card p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 2rem;
}

.boton {
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    /* margin-bottom: 5px; */
}

#boton-tienda {
    margin-bottom: 5px;
}

.boton:hover {
    background: black;
    color: white;
    transition: 0.5s;
}

/* TOUR */

.section__tour {
    display: flex;
    flex-direction: row-reverse;
    align-self: baseline;
    justify-self: center;
    align-items: baseline;
    width: 75%;
    margin-top: 30px;
}



.section__tour ul li {

    font-family: $font-texto;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 125%;
}



#tour__lugar {
    color: orangered;
    /* align-self: baseline; */


}

.section__tour button {
    padding: 0 3rem;
}


/* CONTACTO */

form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;


}

label {
    display: block;
    text-align: center;

}

fieldset {
    border: none;
}

.form-control {
    font-size: 2rem;
}

input {
    /* border: none; */
    /* border-bottom: 1px solid gray; */
    text-align: center;
    width: 50%;
    height: 50%;

}

input::placeholder {
    font-size: 2rem;
}

input:hover {
    background: #eee;
    transition: 1s;
}

textarea {

    font-size: 2rem;
}

textarea:hover {
    background: #eee;
    transition: 1s;
}

#input__enviar {
    border-bottom: none;
    font-family: $font-texto;
    font-size: 3rem;
    padding: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 3px;

}

#input__enviar:hover {
    background: black;
    color: white;
    transition: 0.5s;
}



@media only screen and (min-width: 500px) and (max-width: 700px) {
    .section__tour ul li {
        font-size: 1.5rem
    }

    .section__tour button {
        font-size: 1.5rem;
    }
}

@import "header";
@import "home";
@import "footer";