/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 12em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 1px rgba(212, 212, 212, 0.658);
}

.boton {
  background: none;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  /* margin-bottom: 5px; */
}

.boton:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 8em;
  }
}
header {
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid black;
  padding: 2rem;
}
header img {
  width: auto;
  height: 8rem;
}
header #navbarNav {
  justify-content: flex-end;
}
header ul li {
  color: blue;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
header ul li:hover {
  border-bottom: 1px solid black;
}

.navbar-toggler-icon {
  border: none;
  font-size: 2rem;
}

.home {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
}
.home p {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.item {
  background-position: top;
  background-size: cover;
  border: 3px solid white;
  border-radius: 3px;
  height: 32rem;
}
.item:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  border: none;
}

/* FOTOS */
.item1 {
  background-image: url(../img/galeria/item1.jpg);
}

.item2 {
  background-image: url(../img/galeria/item2.jpg);
}

.item3 {
  background-image: url(../img/galeria/item3.jpg);
}

.item4 {
  background-image: url(../img/galeria/item4.jpg);
}

.item5 {
  background-image: url(../img/galeria/item5.jpg);
}

/* FOOTEER */
footer {
  text-align: center;
  border-top: 2px solid black;
}
footer p {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  margin: 3rem;
}
footer ul {
  margin: 3rem;
}
footer ul li {
  display: inline;
  padding: 4px;
}
footer .footer__icono {
  text-decoration: none;
  font-size: 10rem;
  color: black;
}
footer .footer__icono:hover {
  transition: 1.5s;
}
footer #facebook:hover {
  color: blue;
}
footer #twitter:hover {
  color: rgb(29, 161, 242);
}
footer #instagram:hover {
  color: rgb(193, 53, 132);
}
footer #youtube:hover {
  color: red;
}

.section__tour {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: stretch;
  align-content: center;
  align-self: center;
}

.tour {
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid gray;
  padding: 30px;
  border-radius: 2px;
  justify-content: center;
}
.tour li {
  display: inline-block;
  text-decoration: none;
}

#tour__lugar {
  color: rgba(200, 73, 22, 0.932);
}

.card {
  margin-bottom: 20px;
  width: 42rem;
}
.card p {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
.card a {
  text-align: center;
}
.card img {
  height: 42em;
  width: 42em;
  padding: 20px;
  margin: 0 auto;
}
.card .card p {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 2rem;
}
.card:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.card__texto {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}

#boton-tienda {
  margin-bottom: 5px;
}

form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
form label {
  display: block;
  text-align: center;
}
form fieldset {
  border: none;
}
form input {
  text-align: center;
  width: 50%;
  height: 50%;
}
form input::placeholder {
  font-size: 2rem;
}
form input:hover {
  background: #eee;
  transition: 1s;
}
form textarea {
  font-size: 2rem;
}
form textarea:hover {
  background: #eee;
  transition: 1s;
}

.form-control {
  font-size: 2rem;
}

#input__enviar {
  border-bottom: none;
  font-family: "Roboto Mono", monospace;
  font-size: 3rem;
  padding: 20px;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
}

#input__enviar:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
