
.home {
    // margin-bottom: 2rem;
    margin: 0;
    padding: 0;
    p {
        font-size: $p-size;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
    }
    margin-bottom: 3rem;
}

.item {
    background-position: top;
    background-size: cover;
    border: 3px solid white;
    border-radius: 3px;
    height: 32rem;

        &:hover {
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }
}


/* FOTOS */

.item1 {
    background-image: url(../img/galeria/item1.jpg);
}

.item2 {
    background-image: url(../img/galeria/item2.jpg);
}

.item3 {
    background-image: url(../img/galeria/item3.jpg);
}
.item4 {
    background-image: url(../img/galeria/item4.jpg);
}

.item5 {
    background-image: url(../img/galeria/item5.jpg);
}
